@font-face {
    font-family: 'DysonFutura-Book';
    src: url('fonts/DysonFutura-Book.woff');
}

@font-face {
    font-family: 'DysonFutura-Light';
    src: url('fonts/DysonFutura-Light.woff');
}

@font-face {
    font-family: 'DysonFutura-Medium';
    src: url('fonts/DysonFutura-Medium.woff');
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'DysonFutura-Light';
    /* font-weight: lighter; */
}

.navbar-brand img {
    max-height: 100%;
    max-width: 100%;
    height: 30px;
    background-blend-mode: multiply;
}

.grid-collection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1px;
    margin: 1em;
    background-color: white;
}

.grid-product-image {
    max-height: 80%;
    max-width: 80%;
}
  
.grid-product {
    display: grid;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid black;
    margin: 10px;
}

.container {
    max-width: 100%;
}

.home-container {
    width: 100%;
    display: flex;
}

.sub-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
}

.container-vertical {
    flex-direction: column;
}

.hone-product {
    display: flex;
    padding: 0;
}

.home-product-video {
    position: relative;
    z-index: 1;
}

.home-product-video video {
    object-fit: fill;
    width: 100% !important;
    height: auto !important;
}

.home-product-details {
    position: absolute;
    margin-left: 15%;
    margin-top: 10%;
    z-index: 2;
}

.home-product-shop-now {
    margin-top: 5%;
}

.home-product-shop-now a {
    background-color: transparent;
    border-radius: 6px;
    border: none;
    color: white;
    transition: 0.3s;
    font-size: 22px;
}

.home-product-shop-now a:hover {
    color: white;
    transform: translateX(10px);
}

.home-header {
    display: flex;
    background-color: white;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-family: 'DysonFutura-Medium';
}

.home-content {
    display: flex;
    background-color: black;
    color: white;
    width: 100%;
    margin: 0 auto;
}

.home-content-logos {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.home-content-logos img {
    width: 92px;
    height: 45px;
    margin: 15px;
}

.home-content-logos-column {
    display: flex;
}

.home-content-details {
    margin-top: 25px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 15px;
}

.home-content-details * {
    margin: 20px;
}

.left-column {
    width: 65%;
    position: relative;
    /* align-content: center; */
}

.right-column {
    width: 35%;
    margin-top: 60px;
}

.left-column img {
    width: 50%;
    position: absolute;
    left: 5%;
    top: 0;
    opacity: 0;
    transition: all 0.3s ease;
}

.left-column img.active {
    opacity: 1;
}

.product-details {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}

.product-details span {
    font-size: 12px;
    color: #358ED7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

.product-details h1 {
    font-weight: 300;
    font-size: 52px;
    color: #43484D;
    letter-spacing: -2px;
}

.product-details h4 {
    font-weight: 300;
    font-size: 26px;
    color: #86939E;
    /* letter-spacing: -2px; */
}

.product-details p {
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
}

.quantity-selector {
   display: flex;
   margin-bottom: 20px;
   align-items: center;
}

.quantity-selector label {
    font-size: 20px;
    font-weight: 300;
    color: #43474D;
    margin-right: 10px;
 }

.quantity-selector button {
    width: 45px;
    height: 45px;
    color: #FFFFFF;
    border-radius: 0;
    background-color: #343a40;
    transition: all .2s;
}

.minus-btn {
    border-bottom-left-radius: 6px !important;
    border-top-left-radius: 6px !important;
}

.plus-btn {
    border-bottom-right-radius: 6px !important;
    border-top-right-radius: 6px !important;
}

.quantity-selector input {
    border: none;
    border-top: 1px solid #343a40;
    border-bottom: 1px solid #343a40;
    text-align: center;
    width: 50px;
    height: 45px;
    font-size: 20px;
    color: #43474D;
    font-weight: 300;
}

.product-pricing {
    display: flex;
    align-items: center;
    /* border-bottom: 1px solid #E1E8EE; */
    margin-bottom: 40px;
}

.product-pricing span {
    font-size: 26px;
    font-weight: 300;
    color: #43474D;
    margin-right: 5px;
}

#totalPrice {
    margin-right: 20px;
}

.cart-btn {
    display: inline-block;
    background-color: #343a40;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
}

.cart-btn:hover {
    background-color: #343a4048;
}

.stock-details {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}

.stock-details h3 {
    font-weight: 300;
    font-size: 20px;
    color: #86939E;
}

.modal-header h4 {
    margin-bottom: 0;
}

.modal-header p {
    margin-bottom: 0;
}

.reservation-heading {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}

.reservation-heading span {
    font-size: 12px;
    color: #358ED7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

.reservation-heading h1 {
    font-weight: 300;
    font-size: 52px;
    color: #43484D;
    letter-spacing: -2px;
}

.reservation-heading h4 {
    font-weight: 300;
    font-size: 26px;
    color: #86939E;
    /* letter-spacing: -2px; */
}

.reservation-heading p {
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
}

.reservation-details {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
    align-items: left;
}

.reservation-details h3 {
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    margin-right: 10px;
    text-transform: uppercase;
}

.reservation-details h2 {
    font-size: 22px;
    font-weight: 300;
    color: #43474D;
    margin-right: 10px;
}

.reservation-details span {
    font-size: 20px;
    font-weight: 300;
    color: #43474D;
    margin-right: 10px;
}

.no-border {
    border-bottom: none;
}

/* Responsive */
@media (max-width: 940px) {
    .container {
      flex-direction: column;
      margin-top: 60px;
    }
   
    .left-column,
    .right-column {
      width: 100%;
    }
   
    .left-column img {
      width: 300px;
      right: 0;
      top: -65px;
      left: initial;
    }
  }
   
  @media (max-width: 535px) {
    .left-column img {
      width: 220px;
      top: -85px;
    }
  }