{% extends 'base.html' %}

{% block content %}
<div class="products-layout">
    <div class="products-heading">
        <h1>Dyson Products</h1>
    </div>
    <div class="grid-collection">
        {% for product in products %}
            <div class="grid-product container-vertical">
                <div class="grid-product-image">
                    <a href="{{ url_for('product', product_id=product.id) }}">
                        <!-- Maybe add some sort of whitespace to keep this all the same size -->
                        {% if product.products_image is defined %}
                            <img src="{{ url_for('static', filename='assets/' + product.id + '/' + product.products_image) }}" alt="">
                        {% else %}
                            <img src="{{ url_for('static', filename='assets/' + product.id + '/' + product.image) }}" alt="">
                        {% endif %}
                    </a>
                </div>
                <div class="grid-product-details">
                    <img src="{{ url_for('static', filename='assets/' + product.id + '/logo.png') }}" class="products-logo" alt="">
                    <div class="grid-product-shop-now">
                        <a href="{{ url_for('product', product_id=product.id) }}" class="btn btn-arrow">
                            <span>
                                Shop Now 
                            </span>
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
    
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
