{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="reservations-header">
        <h1>Reservations</h1>
        <h3>List of all reservations, taken from <span>/reservations</span> API</h3>
        <h3>Reservations organised by product</h3>
    </div>
    <div class="vertical-flex">
        {% for product in reserved_products %}
            <div class="horizontal-flex">                
                <div class="reservations-left-column">
                    {% if product.products_image is defined %}
                        <img src="{{ url_for('static', filename='assets/' + product.id + '/' + product.products_image) }}" alt="">
                    {% else %}
                        <img src="{{ url_for('static', filename='assets/' + product.id + '/' + product.image) }}" alt="">
                    {% endif %}
                </div>
                <div class="reservations-right-column">
                    <div class="reservations-info">
                        <h1>{{ product.name }}</h1>
                        <h4>Reservations List:</h4>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</main>
{% endblock %}